[flake8]
show-source = True
statistics = False
doctests = True
enable-extensions = G

# darglint configuration:
# https://github.com/terrencepreilly/darglint
strictness = long

accept-encodings = utf-8
max-complexity = 6
max-line-length = 120
use_class_attributes_order_strict_mode = True
max_function_length = 50
max-cognitive-complexity = 8
max-annotations-complexity = 4

# Excluding some directories:
exclude = .git,__pycache__,.venv,.eggs,*.egg

# Disable some pydocstyle checks:
ignore = D100, D104, D106, D401, X100, W504, RST303, RST304, DAR103, DAR203

# Docs: https://github.com/snoack/flake8-per-file-ignores
per-file-ignores =
  # Allow `__init__.py` with logic for configuration:
  app/settings.py: WPS226, WPS407, WPS412, WPS432
  # Allow to have magic numbers inside migrations and wrong module names:
  app/*/migrations/*.py: WPS102, WPS114, WPS432
