<div class="container">
  <div class="navbar-header">
    <button id="menu-toggle" type="button" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar bar1"></span>
      <span class="icon-bar bar2"></span>
      <span class="icon-bar bar3"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="{% url 'add-product' %}">
          Хочу обменять
        </a>
      </li>
      <li>
        <a href="{% url 'display-all-products' %}">
          Хотят обменять
        </a>
      </li>
      {% if user.is_authenticated %}
      <li class="dropdown">
        <a href="#" class="btn btn-round btn-default" data-toggle="dropdown">
          {{ user_username }}
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu dropdown-with-icons">
          <li>
            <a href="{% url 'account_logout' %}">
              <i></i> Выход
            </a>
          </li>
        </ul>
      </li>
      {% else %}
      <li class="dropdown">
        <a href="#" class="btn btn-round btn-default" data-toggle="dropdown">
          Гость
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu dropdown-with-icons">
          <li>
            <a href="" data-toggle="modal" data-target="#loginModal">
              <i></i> Вход
            </a>
          </li>
          <li>
            <a href="{% url 'account_signup' %}">
              <i></i> Регистрация
            </a>
          </li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
