{% load static %}
{% include 'inlines/head.html' %}

<body class="contact-us">
{% load crispy_forms_tags %}

<nav class="navbar navbar-transparent" role="navigation">
  {% include 'inlines/navbar.html' %}
</nav>

<div class="wrapper">
  <div class="section">
    <div class="container">
      <h2 class="section-title">Добавить товар</h2>
      <div class="row">
        <div class="col-md-6">
          <p>
            Чем товар подробней опишете, тем быстрей им человек заинтересуется! (c) Мастер Йода<br><br>
          </p>
          <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            {% if images %}
              {{ images.management_form|crispy }}
              <div id="product_image_formset">
                {% for form in images.forms %}
                  {{ form.non_field_errors }}
                  {{ form.errors }}
                  {{ form.id }}
                  <table class="no_error">
                    {{ form|crispy }}
                  </table>
                {% endfor %}
              </div>
            {% endif %}
            <br><br>
            <button href="#fakelink" class="btn btn-block btn-lg btn-fill btn-info">Добавить товар</button>
            <br><br>
          </form>
        </div>
        <div class="col-md-4 col-md-offset-2">
          <div class="contact-info">
            <h5><i class="fa fa-building text-muted"></i> Совет 1</h5>
            <p class="text-muted"> Faucibus A Fusce Mauris Porttitor Elit metus! Orci imperdiet; Molestie Ligula
              Pharetra
              dolor; Ligula Ullamcorper Mauris Eget Ut Amet A nibh; Scelerisque Eget Odio Malesuada Amet Integer
              Phasellus aliquam! Amet imperdiet
            </p><br>
            <h5><i class="fa fa-building text-muted"></i> Совет 2</h5>
            <p class="text-muted">Faucibus A Fusce Mauris Porttitor Elit metus! Orci imperdiet; Molestie Ligula Pharetra
              dolor; Ligula Ullamcorper Mauris Eget Ut Amet A nibh; Scelerisque Eget Odio Malesuada Amet Integer
              Phasellus aliquam! Amet imperdiet
            </p><br>
            <h5><i class="fa fa-building text-muted"></i> Совет 3</h5>
            <p class="text-muted">Faucibus A Fusce Mauris Porttitor Elit metus! Orci imperdiet; Molestie Ligula Pharetra
              dolor; Ligula Ullamcorper Mauris Eget Ut Amet A nibh; Scelerisque Eget Odio Malesuada Amet Integer
              Phasellus aliquam! Amet imperdiet
            </p>
          </div>
        </div>
      </div>
    </div>
    {% include 'inlines/footer.html' %}
  </div>
  {% include 'inlines/modal.html' %}
</div>
</body>
</html>
