{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      {% if images %}
        {{ images.management_form|crispy }}
        <div id="product_image_formset">
          {% for form in images.forms %}
            {{ form.non_field_errors }}
            {{ form.errors }}
            {{ form.id }}
            <table class="no_error">
              {{ form|crispy }}
            </table>
          {% endfor %}
        </div>
      {% endif %}
      <br><br>
      <input class="btn btn-outline-primary" type="submit" value="Добавить товар">
      <br><br>
    </form>
  </div>
{% endblock %}
