{% load static %}

{% include 'inlines/head.html' %}

<body class="ecommerce">
  {% include 'inlines/navbar.html' %}
  <div class="wrapper">
    <div class="parallax filter-black">
      <div class="parallax-image">
        <img src="{% static 'img/thumb.jpg' %}" alt="..." />
      </div>
      <div class="small-info">
        <h1>Все товары</h1>
        <h3>{{ products_amount }} вещей ищут новый дом</h3>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          {% for product in object_list %}
          <div class="col-md-4">
            <div class="card card-product card-plain" style=" width:100%; height: 600px !important;">
              <div class="image card-img-top" style="display: flex; align-items: center; width:100%; height: 400px !important">
                <a href="{% url 'product-detail' product.slug %}">
                  <img src="{{ product.images.all.first.image.url }}" alt="{{ product.title }}" />
                </a>
              </div>
              <div class="content">
                <a href="{% url 'product-detail' product.slug %}">
                  <h4 class="title">{{ product.title }}</h4>
                </a>
                <p class="description">
                  {{ product.description }}
                </p>
                <div class="footer">
                  <a href="{% url 'user-products-list' product.owner.username %}">Добавил: {{ product.owner.username }}
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% include 'inlines/pagination.html' %}
    </div>
    {% include 'inlines/footer.html' %}
  </div> <!-- wrapper -->
  {% include 'inlines/modal.html' %}
  {% include 'inlines/scripts.html' %}
</body>
</html>
