{% load static %}
{% include 'inlines/head.html' %}

<body class="product-page">
  <nav class="navbar navbar-transparent navbar-fixed-top" role="navigation">
    {% include 'inlines/navbar.html' %}
  </nav>
  <div class="wrapper">
    <div class="parallax filter-black">
      <div class="parallax-image">
        <img src="{% static 'img/thumb.jpg' %}" alt="..." />
      </div>
      <div class="small-info">
        <h1>{{ object.title|upper }}</h1>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="tab-content">
              {% for image in object.images.all %}
              {% if forloop.counter == 1 %}
              <div class="tab-pane active" id="product-page1">
                <img src="{{ image.image.url }}" alt="..." />
              </div>
              {% else %}
              <div class="tab-pane" id="product-page{{ forloop.counter }}">
                <img src="{{ image.image.url }}" alt="..." />
              </div>
              {% endif %}
              {% endfor %}
            </div>
            <ul class="nav nav-text" role="tablist" id="flexiselDemo1">
              {% for image in object.images.all %}
              {% if forloop.counter == 1 %}
              <li class="active">
                <a href="#product-page{{ forloop.counter }}" role="tab" data-toggle="tab" aria-expanded="false">
                  <img src="{{ image.image.url }}" alt="..." />
                </a>
              </li>
              {% else %}
              <li class="">
                <a href="#product-page{{ forloop.counter }}" role="tab" data-toggle="tab" aria-expanded="false">
                  <img src="{{ image.image.url }}" alt="..." />
                </a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="col-md-6">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Описание продукта
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    {{ object.description }}
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Что хочу взамен
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    {{ object.exchange_offer }}
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Контакты
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    <ul style="padding-left: 20px;">
                      {% if object.owner.email %}
                      <li style="list-style-position: outside;"> Email: {{ object.owner.email }}</li>
                      {% endif %}
                      <li style="list-style-position: outside;"> Номер телефона</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'inlines/footer.html' %}
  </div>
  {% include 'inlines/modal.html' %}
</body>
{% include 'inlines/scripts.html' %}
